/**
  generic footer styling
  @link http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
*/
html,
body {
   margin:0;
   padding:0;
   height:100%;
   background: url("../images/circuit_board_medium.jpg") no-repeat center center fixed; 
   background-size: cover;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 0.9em;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   position: relative;
   width: 100%;
   background: transparent;
   padding:10px;
   padding-top: 1%;
}
#body {
   position: relative;
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background: transparent;
}




#header nav {
width: 95%;
margin-left: auto;
margin-right: auto;
}

#header nav ul{
min-width: 1150px;
}

#header nav li{
display: inline-block;
width: 180px;
height: 34px;
background-image: url("../images/sprites/button_sprites.png");
background-position: 0px 0px;
text-align: center;
color: #FFFF66;
text-shadow: 0.1em 0.15em 0.05em #134C0B;
font-size: 1.1em;
line-height: 30px;
}


#header nav li:hover{
/* background-image: url("../images/sprites/button_sprites.png"); */
background-position: 0px -35px;
}

#body section{
border-radius: 15px;
border: 2px solid #5EB930;
padding: 1% 1%;
text-shadow: 0.04em 0.08em 0.05em #66F366;
background-color: #FFFFA3;
min-height: 50px;
}


#body section h3{
background-color: #5EB930;
border: 0.1em solid #2A5124;
border-radius: 15px;
text-align: center;
font-weight: bold;
font-size: 1.4em;
padding: 0.75% 0;
}


/* End footer code */

#footer div.validate{
float: right;
padding: 0% 4%;
margin-top: 1%;
}

#header h2, #body div.descr{

min-width: 600px;
margin-left: auto;
margin-right: auto;
background-color: #5EB930;
border: 2px solid #FFFF66;
border-radius: 15px;
}

#header h2{
width: 70%;
min-height: 40px;
text-align: center;
padding-top: 7px;
color: #FFFF66;
font-size: 1.6em;
text-shadow: 0.1em 0.15em 0.05em #134C0B;
}


/*  brand.html specific styles */

#body div.descr{
width: 85%;
min-width: 1000px;
min-height: 30%;
padding: 1% 1%;
font-size: 1.2em;
}

#body div.descr  a{
text-decoration: none;
}

#body div.descr a:hover{
color:	#ADD6FF;
}

#body div.palettes img.sample_palette{
width: 365px;
height: 75px;
margin-left: 10px;
}

#body div.palettes img.sample_image{
width: 90px;
height: 75px;
margin-left: 10px;
}


#body div.palettes ul{
list-style-type: none;
margin: 35px 0px;
}

#body div.palettes li, #body div.palettes div.item{
width: 61%;
min-width: 650px;
background-color: #DCE166;
border: 1px solid #FFFF66;
border-radius: 20px;
margin-bottom: 4px;
padding: 0.5% 2%;
}
#body div.palettes li:nth-child(4) div{
margin-top: -40px;
}

#body div.palettes li div{
width: 150px;
height: 35px;
display: inline-block;
vertical-align: middle;
margin-top: -62px;
}

div.mission_stm {
margin-bottom: 3%;
}

div.mission_stm p{
margin: 0px;
padding: 0px;
}

div.mission_stm  hr{
height: 1px;
border-top: 1px solid #000000;
margin: 0.5em 0 1em 0;
padding: 0;
width: 40%;
}

div.mission_stm span{
font-style:italic
}